  <footer id="footer"  >
    <div class="secondary-footer">
  		<div class="container">
  			<div class="row">

  				<!--secondary-footer Start Here -->
  				<section class="col-xs-12"> <span class="copyright">@2016 Strength & Conditioning Studios LLC</span>
  					<ul class="social-icons">
  						<li> <a href="https://www.facebook.com/WabiSabiFitness" target="_blank"><i class="fa fa-facebook"></i></a> </li>
  					</ul>
  				</section>
  				<!--secondary-footer End Here -->

  			</div>
  		</div>
  	</div>
  </footer>
