<div id="wrapper">
<section id="slider">
	<div class="container-fluid">
		<div class="row">

			<!--			<!--slider Start Here -->
						<div class="banner">
							<div class="slider landing-slider">
								<ul class="slides">
									<li>
										<div class="img-h" style="background-image:url(assets/img/14.jpg)"> </div>
										<div class="hero-banner">
											<div class="hero-text">
												<div class="container">
													<div class="text">
														<div class="inner">
															<h2>Wabi-Sabi</h2>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="img-h" style="background-image:url(assets/img/5.jpg)"> &amp; </div>
										<div class="hero-banner">
											<div class="hero-text">
												<div class="container">
													<div class="text">
														<div class="inner">
															<h2>Yoga</h2>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="img-h" style="background-image:url(assets/img/weights.jpg)"> &amp; </div>
										<div class="hero-banner">
											<div class="hero-text">
												<div class="container">
													<div class="text">
														<div class="inner">
															<h2>Training</h2>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
			    <!--      <div class="carousel">
								<ul class="slides">
									<li>
										<figure><img src="../assets/img/15.jpg" alt="" /></figure>
									</li>
									<li>
										<figure><img src="../assets/img/5.jpg" alt="" /></figure>
									</li>
									<li>
										<figure><img src="../assets/img/weights.jpg" alt="" /></figure>
									</li>
								</ul>
							</div> -->
						</div>
					</div>
						<!--slider End Here -->

					</div>
			</section>
			<!--slider Section End Here -->
<!----------------------------------------------------------------------------->
<!--content Section Start Here -->
<div id="content">

	<!--company-info Start Here -->
	<section class="company-info anim-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="title">
						<h1>welcome to </br> Wabi-Sabi<i class="curve"><img src="assets/img/curve7.png" alt="" /></i></h1>
						<p>A way of living that focuses on finding beauty within the imperfections of life and accepting peacfully the natural cycle of growth and decay.</p>
					</div>
				</div>
			</div>
			<div class="row gallery">
				<div class="col-sm-4"> <img src="assets/img/4.jpg" alt="" /> </div>
				<div class="col-sm-4"> <img src="assets/img/11.jpg" alt="" /> </div>
				<div class="col-sm-4 right"> <img src="assets/img/1.jpg" alt="" /> </div>
				<div class="col-sm-4"> <img src="assets/img/12.jpg" alt="" /> </div>
			</div>
		</div>
	</section>
	<!--company-info End Here -->
<!----------------------------------------------------------------------------->
	<!--dishes-info Start Here -->
<!--    <section class="dishes-info">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 right">
					<figure><img src="../assets/img/dishes-img1.png" alt="" /></figure>
				</div>
				<div class="col-sm-8">
					<h2 class="h1">More than <span class="mark">50 dishes</span> in menu</h2>
					<div class="text">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!--dishes-info End Here -->
<!----------------------------------------------------------------------------->
	<!--menus-info Start Here -->
<!--    <section class="menus-info">
		<div class="container-fluid pattern parallax">
			<div class="row">&nbsp;</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="inner">
						<h2 class="h1">Our Menu<i class="curve"><img src="../assets/img/curve7.png" alt="" /></i></h2>
						<div class="menus">
							<ul class="slides">
								<li>
									<h3>steaks</h3>
									<div class="list"> <span class="price">450gr <cite class="mark">$35</cite></span>
										<div class="text">
											<h4>Marinated Pork Steak</h4>
											<p>Lid est laborum dolorum fugats sit et harums ser quidesi</p>
										</div>
									</div>
									<div class="list"> <span class="price">450gr <cite class="mark">$35</cite></span>
										<div class="text">
											<h4>Deer Steak with Potatos</h4>
											<p>Lid est laborum dolorum fugats sit et harums ser quidesi</p>
										</div>
									</div>
									<div class="list"> <span class="price">450gr <cite class="mark">$35</cite></span>
										<div class="text">
											<h4>Pork Steak</h4>
											<p>Lid est laborum dolorum fugats sit et harums ser quidesi</p>
										</div>
									</div>
									<div class="list"> <span class="price">450gr <cite class="mark">$35</cite></span>
										<div class="text">
											<h4>Veal Steak</h4>
											<p>Lid est laborum dolorum fugats sit et harums ser quidesi</p>
										</div>
									</div>
									<div class="list"> <span class="price">450gr <cite class="mark">$35</cite></span>
										<div class="text">
											<h4>BBQ Veal Steak</h4>
											<p>Lid est laborum dolorum fugats sit et harums ser quidesi</p>
										</div>
									</div>
								</li>
								<li>
									<h3>steaks</h3>
									<div class="list"> <span class="price">450gr <cite class="mark">$35</cite></span>
										<div class="text">
											<h4>Marinated Pork Steak</h4>
											<p>Lid est laborum dolorum fugats sit et harums ser quidesi</p>
										</div>
									</div>
									<div class="list"> <span class="price">450gr <cite class="mark">$35</cite></span>
										<div class="text">
											<h4>Deer Steak with Potatos</h4>
											<p>Lid est laborum dolorum fugats sit et harums ser quidesi</p>
										</div>
									</div>
									<div class="list"> <span class="price">450gr <cite class="mark">$35</cite></span>
										<div class="text">
											<h4>Pork Steak</h4>
											<p>Lid est laborum dolorum fugats sit et harums ser quidesi</p>
										</div>
									</div>
									<div class="list"> <span class="price">450gr <cite class="mark">$35</cite></span>
										<div class="text">
											<h4>Veal Steak</h4>
											<p>Lid est laborum dolorum fugats sit et harums ser quidesi</p>
										</div>
									</div>
									<div class="list"> <span class="price">450gr <cite class="mark">$35</cite></span>
										<div class="text">
											<h4>BBQ Veal Steak</h4>
											<p>Lid est laborum dolorum fugats sit et harums ser quidesi</p>
										</div>
									</div>
								</li>
								<li>
									<h3>steaks</h3>
									<div class="list"> <span class="price">450gr <cite class="mark">$35</cite></span>
										<div class="text">
											<h4>Marinated Pork Steak</h4>
											<p>Lid est laborum dolorum fugats sit et harums ser quidesi</p>
										</div>
									</div>
									<div class="list"> <span class="price">450gr <cite class="mark">$35</cite></span>
										<div class="text">
											<h4>Deer Steak with Potatos</h4>
											<p>Lid est laborum dolorum fugats sit et harums ser quidesi</p>
										</div>
									</div>
									<div class="list"> <span class="price">450gr <cite class="mark">$35</cite></span>
										<div class="text">
											<h4>Pork Steak</h4>
											<p>Lid est laborum dolorum fugats sit et harums ser quidesi</p>
										</div>
									</div>
									<div class="list"> <span class="price">450gr <cite class="mark">$35</cite></span>
										<div class="text">
											<h4>Veal Steak</h4>
											<p>Lid est laborum dolorum fugats sit et harums ser quidesi</p>
										</div>
									</div>
									<div class="list"> <span class="price">450gr <cite class="mark">$35</cite></span>
										<div class="text">
											<h4>BBQ Veal Steak</h4>
											<p>Lid est laborum dolorum fugats sit et harums ser quidesi</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!--menus-info End Here -->
<!----------------------------------------------------------------------------->
	<!--aboutus-info Start Here -->
<!--	<section class="aboutus-info">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="inner">
						<h2 class="h1">What others say about us<i class="curve"><img src="assets/img/curve7.png" alt="" /></i></h2>
						<div class="about about-map-info">
							<ul class="slides">
								<li>
									<div class="mid">
										<div class="text">
											<p>“Trysta is awesome!”</p>
										</div>
										<h3>Garrett Hause</h3>
										<span>Student, Colorado Mesa University</span> </div>
								</li>
								<li>
									<div class="mid">
										<div class="text">
											<p>“I need to try yoga!”</p>
										</div>
										<h3>Kahllid Williams</h3>
										<span>Student, Colorado Mesa University</span> </div>
								</li>
								<li>
									<div class="mid">
										<div class="text">
											<p>“I like Japanese"</p>
										</div>
										<h3>John Fowler</h3>
										<span>Student, Colorado Mesa University</span> </div>
								</li>
								<li>
									<div class="mid">
										<div class="text">
											<p>“Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.”</p>
										</div>
										<h3>Tim Cooper</h3>
										<span>30 years, creative director</span> </div>
								</li> -->
					<!--      <li>
									<div class="mid">
										<div class="text">
											<p>“WOW! This place looks really cool”</p>
										</div>
										<h3>Dr. MacEvoy</h3>
										<span>Professor, Colorado Mesa University</span> </div>
								</li> -->
	<!--						</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!--aboutus-info End Here -->
<!----------------------------------------------------------------------------->
	<!--map-info Start Here -->

<!--	<section class="map-info">
		<div id="map-7" class="map-info-inner"> </div>
	</section>
-->

	<!--map-info End Here -->
<!----------------------------------------------------------------------------->
	<!--subscription Start Here -->
</br>
</br>
</br>
</br>
</br>
	<section class="subscription clearfix ">
		<div class="container">
			<div class="row">
				<div class="about-me">
					<div class="col-sm-4 gap">
						<figure> <img src="assets/img/logo.jpg" alt="" /> </figure>
					</div>
					<div class="col-sm-8">
						<div class="row">
							<div class="txt">
								<div class="col-sm-5">
									<div class="heading">
										<h3 class="h2">Contact Info:</h3>
									</div>
								</div>
								<div class="col-sm-7">
									<div class="text">
										<h3>248 S. 4th Street</h3>
										<h3>Grand Junction, Colorado</h3>
										<h3>970-216-7672</h3>
									 <span>Monday - Thursday, 8am - 6pm</span>
									 <span>Saturday, 8am - 1pm </span> </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
<!--    <div class="container">
			<div class="row">
				<div class="sub-me">
					<div class="col-sm-4">
						<h2 class="h1">Sign Up Today!</h2>
					</div>
					<div class="col-sm-8 subscription-field">
						<input type="text" placeholder="Enter your e-mail" class="subscription-input" />
						<button class="btn btn-default btn-effect" type="button">submit<i><img alt="" src="../assets/img/arrow-btn.png"></i></button>
					</div>
				</div>
			</div>
		</div> -->
 </section>
	<!--subscription End Here -->

</div>
<!--content Section End Here -->

<!--  <a href="javascript:;" class="scroll-top"> <i class="fa fa-long-arrow-up"></i> </a> </div> -->
