<section class="homePage">
<div class="search">
	<h1>Wabi-Sabi Training</h1>
	<p>Wabi-Sabi Training brings you a new way to experience everything from classic yoga to modern rehabilitation training. With spacious rooms and top of the line equipment, we have many options that will make your training simple and complete.</p>

<ul>
  <li type="circle">Beginner-friendly yoga</li>
  <li type="circle">Customizable training plans that work with your budget.</li>
  <li type="circle">Free training consultations.</li>
  <li type="circle">You get the first week FREE!*</li>
  <li>*New members only.</li>
</ul>

	<img src="images/5.jpg" alt="4" Width="600" Height="400" />

</div>
</section>
