
<div class="homeBar"><a ng-href="#/home">Home</a></div>
<div class="homeBar"><a ng-href="#/home">Programs</a></div>
<div class="homeBar"><a ng-href="#/home">Schedule</a></div>
<div class="homeBar"><a ng-href="#/home">About Us</a></div>

  
  <ul>
    <li>
      <a ng-show="currentUser" ng-href="#/meetings">Meetings
        <span ng-show="howManyMeetings" class="badge">
        {{howManyMeetings}}</span>
      </a>
    </li>
    <li><a ng-hide="currentUser" ng-href="#/login">Login</a></li>
    <li><a ng-hide="currentUser" ng-href="#/register">Register</a></li>
  </ul>
