<header id="header">

      <!--headerBox Start Here -->
      <div class="header">
  					<div class="container-fluid">
  						<div class="row">
  							<div class="container">
  								<div class="row">
  									<div class="col-xs-12 top">
  										<a href="#/index" class="logo"><img src="assets/img/logo.jpg" height="75" width="75"alt="" /></a>
  										<section class="menu-wrap">
  											<ul class="nav">
                          <li>
                            <a ng-href="#/index">Home</a>
                          </li>
  												<li>
  													<a ng-href="#/programs">Programs</a>
  												</li>
                          <li>
                            <a ng-href="#/schedule">Schedule</a>
                          </li>
                          <li>
                            <a ng-href="#/about">About</a>
                          </li>
                          <li> <div class="userinfo" ng-show="currentUser" ng-controller="RegistrationController">
                            <span class="userinfo">You are logged in as       {{ currentUser.firstname}}</span>
                            <a ng-href="#/login" ng-click="logout()">logout</a> </div>
                          </li>
                          <li><a ng-hide="currentUser" ng-href="#/login">Login</a></li>
                          <li><a ng-hide="currentUser" ng-href="#/register">Register</a></li>
  											</ul>
  										</section>
  									</div>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>

      <!--headerCntr End Here -->
</header>
