<section class="dishes-info">
	 <div class="container">
		 <div class="row">
			 <div class="col-sm-4 right">
				<img src="../assets/img/2.jpg" alt=""/> </br>
				<img src="../assets/img/12.jpg" alt=""/>
				<img src="../assets/img/3.jpg" alt=""/>
			 </div>
			 <div class="col-sm-8">
				 <h2 class="h1">Classes <span class="mark">Wabi-Sabi</span> offers</h2>
				 <div class="text">
					 <p>	Yoga for the beginner to the master.</p>
					 <p>Classes                                  Cost</p>
 					 <p>Drop In                                   $13</p>
					 <p>5 Classes                                  $55</p>
					 <p>8 Classes                                 $88</p>
				   <p>10 Classes                                 $110</p>
				   <p>15 Classes                                 $150</p>
					 <p>Memberships</p>
				   <p>1 Year Contract                               $45/month</p>
					 <p>2 Year Contract                               $50/month</p>
					 <p>10% off for Teachers, Police/Fire, CMU, Vets, and Senior Citizens.</p>
					 <p>Training focuses on injury recovery, pain management, weight loss along with any sport specific athletes.</p>
					 <p>These private or small group sessions are designed to give the client the most focused attention possible.</p>
				 </div>
			 </div>
		 </div>
	 </div>
 </section>
