<section class="programsPage">
<div class="search">
	<h1>Programs</h1>
	Yoga for the beginner to the master.

 

Classes                                  Cost

Drop In                                   $13

5 Classes                                  $55

8 Classes                                 $88

10 Classes                               $110

15 Classes                               $150

Memberships

1 Year Contract            $45/month

2 Year Contract            $40/month

     10% off for Teachers, Police/Fire, CMU, Vets, and Senior Citizens. 

     Training focuses on injury recovery, pain management, weight loss along with any sport specific athletes. 

     These private or small group sessions are designed to give the client the most focused attention possible.

</div>
</section>