<div class="card meetings cf">

  <div class="textintro">
    <h1>Classes</h1>
  </div><!-- textintro -->

  <div class="meeting" ng-repeat="(key, meeting) in meetings | orderBy:'classdate'">
    <span class="text">Class Name: {{meeting.name}} </br> Class Date: {{meeting.classdate}} </br> Class Time: {{meeting.time}}</span>
  </div>

</div><!-- meetings cf -->

    <section id="examples">
        <article>
            <div class="demo">
                <p><input id="basicExample" type="text" class="time" /></p>
            </div>

            <script>
                $(function() {
                    $('#basicExample').timepicker();
                });
            </script>